{
    "presets": [
        ["@babel/preset-env", {
            "modules": false
        }],
        ["@babel/preset-react"]
    ],
    "plugins": [
        ["@babel/plugin-transfrom-runtime", {
            "corejs": false,
            "helpers": true,
            "regenerator": true,
            "useESModules": false
        }]
    ]
}